nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #ddd;
    }
  }
}
